[Unit]
Description=Bat_Notify: The battery reporting superhero.

[Service]
ExecStart=/usr/bin/env $HOME/.local/bin/bat_notify

[Install]
WantedBy=default.target
